<div style="height: 81vh;">
    <div class="top-header pb-3 d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-white">Forget password</h1>
      <p class="fw-bold">COD App</p>
    </div>
    <form class="main-form p-5">
      <h3><span class="text-danger">Account</span> Verification -</h3>
      <p>Please Enter OTP which recsived on your Contact Number for your Verify.</p>
      <div class="input-group mb-3">
        <span class="input-group-text text-danger" id="basic-addon1"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Enter OTP" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="form-group mb-3">
        <button class="btn btn-danger w-100 form-btn">Verify</button>
      </div>
      <div class="d-flex justify-content-between">
        <a href="" class="d-flex text-danger text-decoration-none justify-content-end ">User Signup ?</a> 
        <br><br>
        <a href="" class="d-flex text-danger text-decoration-none justify-content-end ">User LogIn ?</a> 
      </div>
    </form>   
</div>