<div style="height: 82vh">
  <div id="phone-sign-in-recaptcha"></div>

  <div class="top-header pb-3 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-white">User Signup</h1>
    <p class="fw-bold">COD App</p>
  </div>
  <form class="main-form p-5">
    <h3><span class="text-danger">New User</span> signup -</h3>
    <p>COD is online Gamming Appilication</p>

    <div class="input-group mb-3">
      <span class="input-group-text text-danger" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
      <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="First Name"
        aria-label="Username" />
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text text-danger" id="basic-addon1"><i class="fa fa-users" aria-hidden="true"></i></span>
      <input type="text" class="form-control" [(ngModel)]="surName" maxlength="8" name="surName" placeholder="Reffer Code"
        aria-label="Username" />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text text-danger" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      <input type="text" class="form-control" [(ngModel)]="emailId" name="emailId" placeholder="Enter Email Id"
        aria-label="Username" aria-describedby="basic-addon1" />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text text-danger" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="New password"
        aria-label="Username" aria-describedby="basic-addon1" />
    </div>
    <div class="form-group mb-3">
      <button class="btn btn-danger w-100 form-btn" (click)="signUp()">
        SIGN UP
      </button>
    </div>
    <div class="d-flex justify-content-between">
      <a routerLink="/login" class="d-flex text-danger text-decoration-none justify-content-end">User Login</a>

      <a routerLink="/forget" class="d-flex text-danger text-decoration-none justify-content-end">Forget
        password ?</a>
    </div>
  </form>
</div>