<h3 class="text-left p-3 bg-light vh-94">Reffer & Earn</h3>
<div class="bg-white" style="height: 71vh;">

    <h4 class="border border-bottom text-center text-danger bg-light fw-bold py-2"><i class="fa fa-address-card-o" aria-hidden="true"></i> Reffer Code - {{RefferId | uppercase | slice:0:8}}</h4>
    <p class="p-3"> अगर आप COD App को अपने friend को डाउनलोड करवाते हो तो आपको 5% कमीशन कमा सकते हो | ये 5% कमीशन आपको लाइफ टाइम मिलेगा |</p>
    <p class="p-3 fw-bold"> नोट : आपको 5% कमीशन तभी मिलेगा अगर आपका कोई friend गेम खेलता है | और उस गेम से कंपनी को जो Profit हुआ उसका 5% आपको मिलेगा |</p>   
    <a href="https://chat.whatsapp.com/CaXq1pqDxzH5lM47HqomY3" target="_blank"><button class="btn btn-outline-danger mx-2"><i class="fa fa-share-square" aria-hidden="true"></i> Reffer & Earn</button></a>

</div>