<div class="container">
  <div class="row border-top  bg-white text-center p-3 d-flex align-items-end">
    
   

    <div class="col">
      <a routerLink="/game-select" class="text-danger btn-style"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="col">
      <a routerLink="/mywallet" class="text-danger btn-style"><i class="fa fa-university fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="col">
      <a routerLink="/mainhome" class="text-secondary btn-style h5" ><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="col">
      <a routerLink="/howtoplay" class="text-danger btn-style"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="col">
      <a routerLink="/help" class="text-danger btn-style"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a>
    </div>

  </div>
</div>
<!-- footer-section   -- Close -->