<h3 class="text-left p-3 bg-light vh-94">Team & Conditions</h3>
<div class="bg-white" style="height: 72vh;">
   <h4 class="border border-bottom text-center text-danger bg-light fw-bold py-2"><i class="fa fa-cogs" aria-hidden="true"></i> Notice </h4>
   <!-- <h4 class="text-center py-3 text-danger">- Term & Conditions -</h4> -->
    <ul class="p-3 fw-bold m-3">
        <li>10rs Single jodi payment = 900rs... </li>
        <li>10rs Hurruf (A.B.)payment = 90rs... </li>
        <li>Time of payment diposit.... 24×7 </li>
    </ul>   
    <p class="p-3 fw-bold"> Time of payment withdrawal... <br> Morning 08:00 A.M. To Evening 4:00 PM</p>   
    <p class="p-3"><b class="text-danger fw-bold">नोट:-</b> फरीदाबाद,ग़ज़िआबाद,गली,दिल्ली बाजार,श्री गणेश गेम बंद होने से 1 घंटा पहले 200 से कोई भी बड़ा घर खेल सकते है | और देसावर में 12 बजे से पहले 200 से बड़ा घर खेल सकते है |
        उसके बाद 200 तक का ही घर खेले अन्यथा हमारी कोई जिम्मेदारी नहीं होगी |</p>
</div>