<h3 class="text-left fw-bold fs-3 p-3 bg-light">User Profile</h3>
<div class="bg-white" style="height: 71vh">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center p-3">
        <img
          src="https://i.postimg.cc/RhN07K6p/download.jpg"
          alt=""
          class="rounded-circle border border-danger border-3 p-1 w-25"
        />
      </div>
      <div class="col-md-12 text-center">
        <h4 class="fw-bold fs-5 text-secondary">{{ name }}</h4>
        <p class="fs-6 text-danger">Customer ID - {{  userId | uppercase |slice:0:8 }}</p>
        <button type="button" class="btn-danger btn" routerLink="/profile-edit">
          Edit Profile
        </button>
      </div>
      <div class="col-md-12 p-4 ">
        <p class="text-danger">
          <b class="text-secondary">Reffer Id : </b>{{ post }} 
        </p>
        <p class="text-danger">
          <b class="text-secondary">E-mail : </b> {{ emailId }}
        </p>
        <p class="text-danger">
          <b class="text-secondary">Password : </b> {{ password }}
        </p>
        <p class="text-danger">
          <b class="text-secondary">Contact : </b> {{ phoneNumber }}
        </p>
        <p class="text-danger">
          <b class="text-secondary">Account Number : </b> {{ address }}
        </p>
        <!-- <p class="text-danger">
          <b class="text-secondary">Payment mode : </b> UPI
        </p> -->
        <p class="text-danger">
          <b class="text-secondary">IFSC Code : </b> {{ paymentInfo }}
        </p>
      </div>
    </div>
  </div>
</div>
