<h3 class="text-left fs-3 p-3 bg-light">Play Game</h3>
<div class="bg-white m-2" style="height: 70vh;">
  <div class="container">
    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Banda Express</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00AM -
          10:30AM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Banda Express')">
          PLAY NOW
        </button>
      </div>
    </div>

    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Delhi Bazar</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 03:15PM -
          03:00PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Delhi Bazar')">
          PLAY NOW
        </button>
      </div>
    </div>

    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Shri Ganesh</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 04:45PM -
          04:10PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Shri Ganesh')">
          PLAY NOW
        </button>
      </div>
    </div>

    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Faridabad</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 06:30PM -
          06:00PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Faridabad')">
          PLAY NOW
        </button>
      </div>
    </div>

    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Ghaziabad </span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 08:45PM -
          08:15PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Ghaziabad')">
          PLAY NOW
        </button>
      </div>
    </div>
    <marquee behavior="alternate" class="text-success fw-bold" >सभी गेम खेलने का समय गेम के नीचे लिखा है। </marquee>
    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Gali </span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 11:45PM -
          11:00PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Gali')">
          PLAY NOW
        </button>
      </div>
    </div>
    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Hamirpur Express</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 10:30PM -
          09:30PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Hamirpur Express')">
          PLAY NOW
        </button>
      </div>
    </div>

    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Disawar</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 05:15AM -
          03:00AM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('Disawar')">
          PLAY NOW
        </button>
      </div>
    </div>


    <!-- <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Market 9</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 06:30AM -
          01:30PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('market9')">
          PLAY NOW
        </button>
      </div>
    </div>

    <div class="row d-flex align-items-center bg-light my-1 py-2">
      <div class="col-7">
        <span class="h5 fw-normal text-danger">Market 10</span><br />
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 06:30AM -
          01:30PM</span>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger fs-6" (click)="selectGame('market10')">
          PLAY NOW
        </button>
      </div>
    </div> -->

  </div>
</div>